[default]
    DATABASE_PORT = "5432"
    DATABASE_USER = "postgres"
    DATABASE_DB = "your_local_db_name"
    DATABASE_PASSWORD = "postgres"
    DATABASE_HOST = "localhost"  # or "postgres" for docker

    AUTH0_DOMAIN = "your-auth-domain.name"
    AUTH0_CLIENT_ID = "your-auth0-client-id"
    AUTH0_CLIENT_SECRET = "your-auth0-client-secret"

    AWS_REGION = "your-aws-region"
    AWS_S3_BUCKET = "your-aws-s3-bucket-name"
    ACCESS_KEY_ID = "your-aws-access-key"
    ACCESS_SECRET_KEY = "your-aws-secret-key"

    API_URL = 'your-api-url'  # should be the same as in your auth0 app. use ngrok as an unpaid option

    AUTH_SECRET = "your-auth-secret"
    BROKER_URL = "yout-redis-url"

    LOG_TO_SENTRY = true

    OPENAI_API_KEY = "your-openai-api-key"
